@font-face {
    font-family: "Cocogoose";
    src: url('../assets/fonts/cocogoose/CocogooseSemiLight.ttf')
}

@font-face {
    font-family: "CocogooseBold";
    src: url('../assets/fonts/cocogoose/Cocogoose.ttf');
}

@font-face {
    font-family: "CocogooseLight";
    src: url('../assets/fonts/cocogoose/CocogooseLight.ttf')
}

@font-face {
    font-family: "HelveticaCust";
    src: url('../assets//fonts/helvetica/Helvetica.ttf');
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}